.border-decorate {
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: black;
    color: white;
}

body {
    background-color: #212121;
    color: white;
}

.MuiPaper-root {
    background-color: #424242;
    color: white;
}

a {
    color: white;
}

.MuiTableCell-root {
    color: white;
}

.MuiFormLabel-root {
    color: white;
}

.MuiDivider-root {
    background-color: white;
}


body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#sidenav-scrollbar::-webkit-scrollbar {
    width: 0.5em;
}

#sidenav-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    height: 80%;
}

#sidenav-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#sidenav-scrollbar {
    height: 65vh;
}

@media only screen and (min-width: 768px) {

    canvas {
        height: 400px !important;
        width: 100%; !important;
    }
}

@media only screen and (max-width: 768px) {

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.55em;
    }

    h3 {
        font-size: 1.25em;
    }

    canvas {
        height:300px !important;
        width: 95vw; !important;
    }

    .MuiTableContainer-root {
        max-width: 95vw;
        overflow-y: auto;
    }

    #sidenav-scrollbar {
        height: 300px;
        margin-bottom: 10px;
    }

    .MuiTable-root, .MuiTableContainer-root {
        max-width: 100%; !important;
        width: 100%; !important;
    }
}